.user{
  background-color: aqua;

  
}

.sidevar{
  background-color: aquamarine;
}

.msgs{
  background-color: bisque;
}

img {
  background-color: #ddddf7;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}